<h3 style="color:blue">Ordinal Encoding</h3>
<li style="color:yellow">1. Using scikit-learn</li>
<li style="color:yellow">2. Using map function</li>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams.update({
    "figure.facecolor":"black",
    "figure.edgecolor":"red",
    "axes.facecolor":"black",
    "xtick.color":"yellow",
    "ytick.color":"blue",
    "legend.labelcolor":"linecolor"
})
import seaborn as sns
dataset=pd.read_csv("A:/Machine Learning/loan_data_set.csv")

In [4]:
df = pd.DataFrame({"Size":["s", "m", "l", "xl", "s", "m", "l","s", "s", "l", "xl", "m" ]})
df.head(10)

  Size
0    s
1    m
2    l
3   xl
4    s
5    m
6    l
7    s
8    s
9    l

In [5]:
ord_data=[["s", "m", "l", "xl"]] # As the data goes in 2D format

In [6]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=ord_data)
oe.fit(df[["Size"]])

OrdinalEncoder(categories=[['s', 'm', 'l', 'xl']])

In [7]:
oe.transform(df[["Size"]])

array([[0.],
       [1.],
       [2.],
       [3.],
       [0.],
       [1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [3.],
       [1.]])

In [8]:
df["Size_en"]=oe.transform(df[["Size"]])
df

   Size  Size_en
0     s      0.0
1     m      1.0
2     l      2.0
3    xl      3.0
4     s      0.0
5     m      1.0
6     l      2.0
7     s      0.0
8     s      0.0
9     l      2.0
10   xl      3.0
11    m      1.0

Now performing Ordinal Encoding using MAP function

In [9]:
ord_data1= {"s":0, "m":1, "l":2, "xl":3}
df["Size_en_map"] = df["Size"].map(ord_data1)

In [10]:
df

   Size  Size_en  Size_en_map
0     s      0.0            0
1     m      1.0            1
2     l      2.0            2
3    xl      3.0            3
4     s      0.0            0
5     m      1.0            1
6     l      2.0            2
7     s      0.0            0
8     s      0.0            0
9     l      2.0            2
10   xl      3.0            3
11    m      1.0            1

In [12]:
# map functiona allows us to encode using any no.

In [13]:
dataset1=pd.read_csv("A:/Machine Learning/loan_data_set.csv")
dataset1.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [15]:
dataset1["Property_Area"].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [16]:
dataset1.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [17]:
# AS the data is categorical so We can use mod fill in case it's having NaN
dataset1["Property_Area"].fillna(dataset1["Property_Area"].mode()[0], inplace=True)

In [18]:
en_data_ord1=[["Rural", "Urban", "Semiurban"]]
from sklearn.preprocessing import OrdinalEncoder
oen1 = OrdinalEncoder(categories=en_data_ord1)

In [21]:
dataset1["Property_Area"]=oen1.fit_transform(dataset1[["Property_Area"]])

In [22]:
dataset1.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,1.0,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,0.0,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,1.0,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,1.0,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,1.0,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,1.0,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,1.0,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,2.0,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,1.0,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,2.0,N