In [1]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams.update({
    "figure.facecolor":"black",
    "figure.edgecolor":"red",
    "axes.facecolor":"black",
    "xtick.color":"yellow",
    "ytick.color":"blue",
    "legend.labelcolor":"linecolor"
})
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
dataset=pd.read_csv("A:/Machine Learning/loan_data_set.csv")

In [3]:
data = {"name":["a", "b", "c", "d", "e", "a"], "eng":[8, 7, 5, 8, 8, 4], "hindi":[2, 3, 4, 5, 2, 6 ]}
df = pd.DataFrame(data)

In [4]:
df

  name  eng  hindi
0    a    8      2
1    b    7      3
2    c    5      4
3    d    8      5
4    e    8      2
5    a    4      6

In [5]:
df["duplicated"]=df.duplicated()

In [6]:
df

  name  eng  hindi  duplicated
0    a    8      2       False
1    b    7      3       False
2    c    5      4       False
3    d    8      5       False
4    e    8      2       False
5    a    4      6       False

In [7]:
dataset.shape

(614, 13)

In [8]:
dataset.drop_duplicates(inplace=True)

In [9]:
dataset.shape

(614, 13)